---
layout: layouts/base.njk
title: Page Not Found
description: The page you are looking for does not exist.
permalink: "/404.html"
---
<main style="text-align: center; padding-top: 10vh;">
  <h1 style="font-size: 6rem; margin: 0; line-height: 1;">404</h1>
  <p class="secondary" style="font-size: 1.2rem; margin-top: 1rem;">
    dreaming of a page that isn't here.
  </p>
  <br><br>
  <a href="/" class="view-all">Return Home &rarr;</a>
</main>
