---
layout: layouts/base.njk
title: raoulyy blog
description: dreaming a thought that could dream about a thought
permalink: "/index.html"
---
<h1>raoulyy<img src="/images/rosette.png" alt="rosette" class="inline-rosette">blog</h1>
<p class="secondary">dreaming a thought that could dream about a thought</p>
<br>
<img src="/images/profile.jpg" alt="Raoulyy, author profile photo" width="120" class="profile-image" />

<section aria-labelledby="welcome">
  Hello friend, welcome to my blog!
  <br /><br />
  My friends sometimes call me <i>Raoulyy</i> (hence the name of the blog).
  I like reading and thinking about big and small questions mostly related to meaning, love, community,
  wisdom, faith, human psychology, personal growth and more.
  <br /><br />
  For now I will mostly be posting my thoughts on books that I read in the last few years.
  Some of them are more classical book reviews, while others might better be called meanderings loosely
  inspired by certain books, or notes written in the margins.
  <br />
  <a href="/marginalia.html" class="view-all secondary">View all marginalia &rarr;</a>

  <br /><br />
  In the future I might start posting more general articles, so stay tuned.
</section>
