---
layout: layouts/base.njk
title: Marginalia
description: ": notes in the margin of a book, manuscript, or letter."
permalink: "/marginalia.html"
---
<h1>marginalia</h1>
<p class="secondary">: notes in the margin of a book, manuscript, or letter. <br /> some of the thoughts I had while reading different books:</p>
<br>
<section aria-labelledby="marginalia">
{% for post in collections.marginalia %}
<a href="{{ post.url }}" class="marginalia-link">
<article class="marginalia-article">
  <h3>{{ post.data.title }}</h3>
  {% set bookParts = post.data.book.split(' | ') %}
  <p class="subtitle">'{{ bookParts[0] }}'{% if bookParts[1] %} | {{ bookParts[1] }}{% endif %}</p>
  <time datetime="{{ post.date | htmlDate }}">{{ post.date | readableDate }}</time>
</article>
</a>
{% endfor %}
<p style="margin-left: 1rem;" class="secondary">More to come...</p>
</section>
